<section class="video-cta" [style.background-image]="'url(assets/img/cta-bg/video-cta-bg.jpg)'">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-8 col-lg-9 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="video-cta-content">
                    <h3 class="title">Get Better Solution For Your Business</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium totam rem aperiam eaque ipsa</p>
                </div>
            </div>
            <div class="col-auto wow fadeInRight" data-wow-delay="0.3s">
                <div class="video-cta-play">
                    <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="video-popup popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>