<section class="banner-section">
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content">
                    <span class="title-tag wow fadeInDown" data-wow-delay="0.3s">Promote any poduct, service or online course.</span>
                    <h1 class="title wow fadeInLeft" data-wow-delay="0.5s">Get every it Services Here</h1>
                    <ul class="banner-btns">
                        <li class="wow fadeInUp" data-wow-delay="0.7s">
                            <a routerLink="/services" class="btn-1">
                                <span class="icon"><i class="fal fa-gem"></i></span>
                                <span>IT Product</span>
                            </a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.8s">
                            <a routerLink="/services" class="btn-2">
                                <span class="icon"><i class="fal fa-bullseye"></i></span>
                                <span>IT Services</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner-img wow fadeInUp" data-wow-delay="0.5s">
            <img src="assets/img/banner/banner-man.png" alt="img">
        </div>
    </div>
</section>