<div class="feature-text-block with-absolute-image">
    <div class="section-title-two mb-20">
        <span class="title-tag">CORE FEATURES</span>
        <h2 class="title">Get More Good Experience.</h2>
    </div>
    <p class="big-text mb-30"> Our knowledge of computers will help us </p>
    <p class="fs-16 text-color-2">We provide outsourcing, staffing, consulting and workforce solutions within the areas of engineering, accounting and finance, healthcare, human resources, IT, legal, life sciences, manufacturing and logistics, office and administration and sales and marketing. We can’t wait to tell you all about it.</p>

    <ul class="feature-btn mt-30">
        <li>
            <a routerLink="/about" class="main-btn">Learn More</a>
        </li>
        <!-- <li>
            <a routerLink="/about" class="main-btn main-btn-2"><i class="fal fa-video"></i> Intro Video</a>
        </li> -->
    </ul>
    <div class="absolute-img wow fadeInLeft" data-wow-delay="0.3s" [style.background-image]="'url(assets/img/features-thumb.jpg)'"></div>
</div>