<section class="blog-area section-gap">
    <div class="container">
        <div class="blog-grid-items row justify-content-center">
            <!-- Data -->
            <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let item of blogpost | paginate: { itemsPerPage: 6, currentPage: page }">
                <div class="single-blog-grid mb-30">
                    <img [src]="item.gridimg" [alt]="item.title">
                    <a class="cat" routerLink="/blog/cat/{{cat.id}}" *ngFor="let cat of getCategories(item.category) | slice:0:1">{{cat.title}}</a>
                    <div class="blog-grid-overlay">
                        <h5 class="title"><a routerLink="/blog-details/{{item.id}}">{{item.title | slice:0:40}}</a></h5>
                        <ul class="post-meta">
                            <li><a routerLink="/blog-details/{{item.id}}"><i class="fal fa-calendar-alt"></i> <span> {{item.postdate}}</span></a></li>
                            <li><a routerLink="/blog-details/{{item.id}}"><i class="fal fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Data -->
        </div>
        <div class="pagination justify-content-center mt-50">
            <pagination-controls (pageChange)="page = $event" responsive="true"
            previousLabel="<"
            nextLabel=">"></pagination-controls>
        </div>
    </div>
</section>