<section class="error-content-area pt-90 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="error-img text-center">
                    <img src="assets/img/error.png" alt="404">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="error-content text-center">
                    <h3 class="error-title">Looks Like Here Is Nothing</h3>
                    <a routerLink="/" class="main-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>