<section class="intro-video-area" [style.background-image]="'url(assets/img/intro-video-bg.jpg)'">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="intro-video-content mb-md-gap-50">
                    <span>Intro Video</span>
                    <h2 class="title">How we growth our business.</h2>
                    <p class="text-1">The introduction of cloud and mobile technologies into enterprise software.
                    </p>
                    <p class="text-2">hether you are building an enterprise web portal or a state-of-the-art
                        website, you always need the right modern tools. Well-built and maintained PHP frameworks
                        provide those tools in abundance, allowing maintained PHP frameworks provide those tools in
                        abundance, allowing developers to save time, re-use code, and streamline the back end. As
                        software development tools continuously.</p>
                    <a routerLink="/about" class="main-btn wow fadeInLeft">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="intro-thumb">
                    <img src="assets/img/intro-thumb.jpg" alt="img">
                    <a class="video-popup popup-youtube" href="https://www.youtube.com/watch?v=TKnufs85hXk"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>