<app-header-single></app-header-single>
<app-banner id="home"></app-banner>
<section class="feature-section section-gap">
    <div class="container">
        <app-features></app-features>
        <app-service-newsletter></app-service-newsletter>
    </div>
</section>
<section class="whu-section section-gap soft-blue-bg" id="feature">
    <div class="container">
        <app-why-us></app-why-us>
        <app-video></app-video>
    </div>
</section>
<app-cases id="portfolio"></app-cases>
<app-counter></app-counter>
<app-faqs id="faq"></app-faqs>
<app-contact id="contact"></app-contact>
<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [bgimage]="ftbgimage"></app-footer>