<section class="about-intro-video section-gap soft-blue-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="intro-video-with-shape mb-md-gap-50">
                    <img src="assets/img/about-intro-thumb.jpg" alt="img">
                    <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="video-popup popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="feature-text-block">
                    <div class="section-title with-right-border mb-20">
                        <span class="title-tag">Intro Video</span>
                        <h2 class="title">How we growth our business.</h2>
                    </div>
                    <p class="big-text mb-30"> The introduction of cloud and mobile technologies into enterprise
                        software. </p>
                    <p>
                        hether you are building an enterprise web portal or a state-of-the-art website, you always
                        need the right modern tools. Well-built and maintained PHP frameworks provide those tools in
                        abundance, allowing maintained PHP frameworks provide those tools in abundance, allowing
                        developers to save time, re-use code, and streamline the back end. As software development
                        tools continuously.
                    </p>
                    <a routerLink="/about" class="main-btn mt-30">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>