<section class="about-section section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-8 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="about-thumb">
                    <img src="assets/img/about-thumb.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
                <div class="about-text-block pl-lg-5 mt-md-gap-60">
                    <div class="section-title mb-40">
                        <span class="title-tag">About us</span>
                        <h2 class="title">You can't use up creativity.</h2>
                    </div>
                    <p class="text-color-3">
                        Does any industry face a more complex audience journey and marketing sales process than B2B
                        technology? Consider the number of people who influence a sale, the length of the
                        decision-making cycle, the competing interests of the people who purchase, implement,
                        manage, and use the technology. It’s a lot meaningful content here.
                    </p>
                    <div class="about-experience pb-40 pt-20">
                        <h3>30</h3>
                        <span>Years Of <br> Experience</span>
                    </div>
                    <ul class="about-btns">
                        <li>
                            <a routerLink="/about" class="main-btn">Learn More</a>
                        </li>
                        <!-- <li>
                            <a routerLink="/about" class="main-btn main-btn-2">
                                <i class="fal fa-video"></i> Intro Video
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>