<section class="service-details-section section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="services-details-imgs mb-md-gap-50">
                    <div class="img-one">
                        <img src="assets/img/service-img/services-op-1.jpg" alt="img">
                    </div>
                    <div class="img-two text-right">
                        <img src="assets/img/service-img/services-op-2.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="service-details-text-block">
                    <div class="section-title with-right-border mb-40">
                        <span class="title-tag">Search Enging Optimization</span>
                        <h2 class="title">Nothing to do anything.</h2>
                    </div>
                    <p class="text-color-2">
                        Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.
                    </p>
                    <div class="service-support-btn">
                        <p>Make A Call</p>
                        <span>897 876 76 56 4</span>
                        <i class="fal fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>