<section class="latest-news section-gap secondary-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7">
                <div class="section-title white-color text-center mb-40">
                    <h2 class="title mb-10">News Feeds</h2>
                    <p class="text-color-2">
                        Does any industry face a more complex audience journey and marketing sales process than B2B
                        technology.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Data -->
            <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let item of blogblock | slice:0:3">
                <div class="latest-news-box-three mt-30">
                    <img [src]="item.gridimg" [alt]="item.title">
                    <div class="post-content">
                        <span class="cat" *ngFor="let tag of getTags(item.tags) | slice:0:1">{{tag.title}}</span>
                        <h5 class="title">
                            <a routerLink="/blog-details/{{item.id}}">{{item.title}}</a>
                        </h5>
                    </div>
                    <a routerLink="/blog-details/{{item.id}}" class="news-link"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <!-- Data -->
        </div>
    </div>
</section>