<app-header-single></app-header-single>
<app-banner id="home"></app-banner>
<app-brands></app-brands>
<app-about></app-about>
<app-services id="service"></app-services>
<app-cases id="portfolio"></app-cases>
<app-team id="team"></app-team>
<app-testimonials id="testimonials"></app-testimonials>
<app-facts></app-facts>
<app-page-cta></app-page-cta>
<app-blogpost></app-blogpost>
<app-ft-map></app-ft-map>
<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [bgimage]="ftbgimage"></app-footer>
