<section class="case-study-section section-gap-bottom pt-90 secondary-bg">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Data -->
            <div class="col-lg-4 col-md-6 col-sm-8"
                *ngFor="let item of caseblock | paginate: { itemsPerPage: 6, currentPage: page }">
                <div class="portfolio-item-three mt-30">
                    <img [src]="item.img" [alt]="item.title">
                    <div class="post-content">
                        <span class="cat"
                            *ngFor="let cat of getCategory(item.category) | slice:0:1">{{cat.title}}</span>
                        <h5 class="title">
                            <a routerLink="/case-details/{{item.id}}">{{item.title}}</a>
                        </h5>
                    </div>
                    <a routerLink="/case-details/{{item.id}}" class="portfolio-link"><i
                            class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <!-- Data -->
        </div>
        <div class="pagination justify-content-center mt-30">
            <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
            </pagination-controls>
        </div>
    </div>
</section>