<section class="case-details-area section-gap" *ngFor="let item of casedetails">
    <div class="container">
        <div class="case-details-thumb">
            <img [src]="item.img" [alt]="item.title" class="w-100">
            <div class="case-live">
                <div class="case-live-item-area d-sm-flex justify-content-between">
                    <div class="case-live-item">
                        <h5 class="title">Sweet Client</h5>
                        <span *ngFor="let client of getClient(item.client)"> {{client.name}}</span>
                        <i class="fal fa-user"></i>
                    </div>
                    <div class="case-live-item">
                        <h5 class="title">Date</h5>
                        <span>{{item.casedate}}</span>
                        <i class="fal fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="case-live-item-area mt-35 d-sm-flex justify-content-between">
                    <div class="case-live-item">
                        <h5 class="title">Website</h5>
                        <span>{{item.weburl}}</span>
                        <i class="fal fa-globe"></i>
                    </div>
                    <div class="case-live-item">
                        <h5 class="title">Category</h5>
                        <span *ngFor="let cat of getCategory(item.category) | slice:0:2"> {{cat.title}}, </span> 
                        <i class="fal fa-tags"></i>
                    </div>
                </div>
                <div class="case-live-btn text-center">
                    <a class="main-btn" routerLink="/">Live Preview</a>
                </div>
            </div>
        </div>
        <div [innerHtml]="item.htmldesc"></div>
        <div class="case-next-prev d-flex justify-content-between pt-50">
            <div class="case-prev">
                <a routerLink="/case-details/1">
                    <span>Prev Post</span>
                    <h4 class="title">Tips On Minimalist</h4>
                </a>
            </div>
            <div class="cate-dot d-none d-md-block">
                <img src="assets/img/icon/dot-box.png" alt="icon">
            </div>
            <div class="case-next text-right">
                <a routerLink="/case-details/1">
                    <span>next Post</span>
                    <h4 class="title">Less Is More</h4>
                </a>
            </div>
        </div>
    </div>
</section>