<section class="team-join">
    <div class="container">
        <div class="join-bg">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="team-join-title">
                        <span>Join With us</span>
                        <h3 class="title">Let’s make some noise with us.</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-join-btn mt-md-gap-30 text-lg-right text-left">
                        <a routerLink="/contact" class="main-btn">Apply Now</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="team-join-thumb d-none d-sm-block">
                        <img src="assets/img/team-join-thumb.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>