<section class="intro-video-area-two" [style.background-image]="'url(assets/img/video-bg.jpg)'">
    <div class="container">
        <div class="video-item text-center">
            <a class="video-popup popup-youtube" href="https://www.youtube.com/watch?v=TKnufs85hXk"><i class="fal fa-play"></i></a><br>
        </div>
    </div>
    <div class="video-thumb-1 wow fadeInLeft" data-wow-delay="0.3s">
        <img src="assets/img/video-item-1.png" alt="img">
    </div>
    <div class="video-thumb-2 wow fadeInRight" data-wow-delay="0.3s">
        <img src="assets/img/video-item-2.png" alt="img">
    </div>
</section>