<app-header-six></app-header-six>
<app-banner></app-banner>
<section class="feature-section section-gap">
    <div class="container">
        <app-features></app-features>
        <app-service-newsletter></app-service-newsletter>
    </div>
</section>
<section class="whu-section section-gap soft-blue-bg">
    <div class="container">
        <app-why-us></app-why-us>
        <app-video></app-video>
    </div>
</section>
<app-cases></app-cases>
<app-counter></app-counter>
<app-faqs></app-faqs>
<app-contact></app-contact>
<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [bgimage]="ftbgimage"></app-footer>